# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# PyCharm
.idea/

# VS Code
.vscode/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db